body,div,ul,li{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
li{
	display: inline-block;
}
h1,li{
	color: #c60;
}
#container{
	position: relative;
	text-align: center;
	margin: 100px auto;
}
#picList{
	margin: 20px 0 50px 0;
}
#picList li{
	margin-left: 20px;
}
#picList li:hover{
	cursor: pointer;
}
#picAll{
	position: relative;
	margin: 0 auto;
	width: 600px;
	height: 400px;
	overflow: hidden;
	box-shadow: 8px 8px 20px #cbb,-8px 0px 20px #cbb;
	border-radius: 15px;
}
#innerAll{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 2400px;	
}
img{
	width: 600px;
	height: 400px;
	float: left;
	display: block;
}